body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 98vh;
}

#button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    background-color: rgba(112, 143, 157, 0);
    overflow: hidden;
    border-radius:100px ;
    position: relative;
}

#rotating-line{
    width: 500px;
    height: 60px;
    background:linear-gradient(45deg , rgb(64, 0, 255),rgb(213, 4, 4)) ;
    rotate: -30deg;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

button{
    position: absolute;
    height: 75px;
    width: 194px;
    margin-top:79px ;
    border-radius:100px ;
    border: none;
    font-size: 30px;
}